.events__container {
  background-color: white;
  width: 100%;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}

.events__inner-container {
  gap: 15px;
}

.events__container h3 {
  margin: 0;
}

.events__input-label {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.events__input-label span {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.events__input {
  background-color: var(--skailama-lightgrey);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
}

.events__event-container {
  gap: 10px;
  max-height: calc(100vh - 400px);
  overflow-y: auto;
}
