.event-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.event-form__input-label {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.event-form__input-label span {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.event-form__input {
  background-color: var(--skailama-lightgrey);
  padding: 0px 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  width: 100%;
  gap: 10px;
  height: 40px;
}

.event-form__input input {
  background-color: transparent;
  border: 0;
}

.event-form__input input:focus {
  outline: 0;
}
.event-form__input:hover > input {
  color: white;
}

.event-form__input:hover {
  background-color: var(--skailama-input-purple);
  color: white;
  border: 1px solid var(--border-color);
}

.event-form__button {
  height: 40px;
  border-radius: 5px;
  border: 0;
  font-weight: 700;
  font-size: 14px;
  background-color: var(--skailama-purple);
  color: whitesmoke;
}

.event-form__button:hover {
  background-color: var(--skailama-input-purple);
}

.event-form__date-time {
  width: 100%;
  gap: 10px;
}

.event-form__date-input {
  width: 100%;
}

.event-form__time-input {
  width: 125px;
}

.event-form__clock_icon {
  font-size: 25px;
}

/* .event-form__date-time input {
  padding-left: 35px;
} */
